In [1]:
pip install -U sentence-transformers

Requirement already satisfied: sentence-transformers in c:\users\jaitej\anaconda3\lib\site-packages (5.1.1)
Requirement already satisfied: transformers<5.0.0,>=4.41.0 in c:\users\jaitej\anaconda3\lib\site-packages (from sentence-transformers) (4.56.2)
Requirement already satisfied: tqdm in c:\users\jaitej\anaconda3\lib\site-packages (from sentence-transformers) (4.67.1)
Requirement already satisfied: torch>=1.11.0 in c:\users\jaitej\anaconda3\lib\site-packages (from sentence-transformers) (2.8.0+cu126)
Requirement already satisfied: scikit-learn in c:\users\jaitej\anaconda3\lib\site-packages (from sentence-transformers) (1.6.1)
Requirement already satisfied: scipy in c:\users\jaitej\anaconda3\lib\site-packages (from sentence-transformers) (1.15.3)
Requirement already satisfied: huggingface-hub>=0.20.0 in c:\users\jaitej\anaconda3\lib\site-packages (from sentence-transformers) (0.35.0)
Requirement already satisfied: Pillow in c:\users\jaitej\anaconda3\lib\site-packages (from sentence-transformers) (11.1.0)
Requirement already satisfied: typing_extensions>=4.5.0 in c:\users\jaitej\anaconda3\lib\site-packages (from sentence-transformers) (4.12.2)
Requirement already satisfied: filelock in c:\users\jaitej\anaconda3\lib\site-packages (from transformers<5.0.0,>=4.41.0->sentence-transformers) (3.17.0)
Requirement already satisfied: numpy>=1.17 in c:\users\jaitej\anaconda3\lib\site-packages (from transformers<5.0.0,>=4.41.0->sentence-transformers) (2.1.3)
Requirement already satisfied: packaging>=20.0 in c:\users\jaitej\anaconda3\lib\site-packages (from transformers<5.0.0,>=4.41.0->sentence-transformers) (24.2)
Requirement already satisfied: pyyaml>=5.1 in c:\users\jaitej\anaconda3\lib\site-packages (from transformers<5.0.0,>=4.41.0->sentence-transformers) (6.0.2)
Requirement already satisfied: regex!=2019.12.17 in c:\users\jaitej\anaconda3\lib\site-packages (from transformers<5.0.0,>=4.41.0->sentence-transformers) (2024.11.6)
Requirement already satisfied: requests in c:\users\jaitej\anaconda3\lib\site-packages (from transformers<5.0.0,>=4.41.0->sentence-transformers) (2.32.3)
Requirement already satisfied: tokenizers<=0.23.0,>=0.22.0 in c:\users\jaitej\anaconda3\lib\site-packages (from transformers<5.0.0,>=4.41.0->sentence-transformers) (0.22.1)
Requirement already satisfied: safetensors>=0.4.3 in c:\users\jaitej\anaconda3\lib\site-packages (from transformers<5.0.0,>=4.41.0->sentence-transformers) (0.6.2)
Requirement already satisfied: fsspec>=2023.5.0 in c:\users\jaitej\anaconda3\lib\site-packages (from huggingface-hub>=0.20.0->sentence-transformers) (2025.3.2)
Requirement already satisfied: sympy>=1.13.3 in c:\users\jaitej\anaconda3\lib\site-packages (from torch>=1.11.0->sentence-transformers) (1.13.3)
Requirement already satisfied: networkx in c:\users\jaitej\anaconda3\lib\site-packages (from torch>=1.11.0->sentence-transformers) (3.4.2)
Requirement already satisfied: jinja2 in c:\users\jaitej\anaconda3\lib\site-packages (from torch>=1.11.0->sentence-transformers) (3.1.6)
Requirement already satisfied: setuptools in c:\users\jaitej\anaconda3\lib\site-packages (from torch>=1.11.0->sentence-transformers) (72.1.0)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in c:\users\jaitej\anaconda3\lib\site-packages (from sympy>=1.13.3->torch>=1.11.0->sentence-transformers) (1.3.0)
Requirement already satisfied: colorama in c:\users\jaitej\anaconda3\lib\site-packages (from tqdm->sentence-transformers) (0.4.6)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\jaitej\anaconda3\lib\site-packages (from jinja2->torch>=1.11.0->sentence-transformers) (3.0.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\jaitej\anaconda3\lib\site-packages (from requests->transformers<5.0.0,>=4.41.0->sentence-transformers) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jaitej\anaconda3\lib\site-packages (from requests->transformers<5.0.0,>=4.41.0->sentence-transformers) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\jaitej\anaconda3\lib\site-packages (from requests->transformers<5.0.0,>=4.41.0->sentence-transformers) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jaitej\anaconda3\lib\site-packages (from requests->transformers<5.0.0,>=4.41.0->sentence-transformers) (2025.4.26)
Requirement already satisfied: joblib>=1.2.0 in c:\users\jaitej\anaconda3\lib\site-packages (from scikit-learn->sentence-transformers) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\jaitej\anaconda3\lib\site-packages (from scikit-learn->sentence-transformers) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import os

In [2]:
os.listdir()

['.ipynb_checkpoints',
 'bird_dev.json',
 'bird_dev_kn.json',
 'dev_bird_2.json',
 'dev_bird_filtered.json',
 'dev_spider_filtered.json',
 'dev_spider_knowledge.json',
 'dev_spider_knowledge_2.json',
 'dev_spider_used.json',
 'dev_spider_used_2.json',
 'spider_text_sql.csv',
 'SQLNet',
 'sqlnet_inference_py36',
 'stanford-postagger-full-2020-11-17',
 'sts_bird.ipynb',
 'sts_spider.ipynb',
 'Untitled.ipynb']

In [3]:
import torch
torch.cuda.is_available()

True

In [4]:
import torch
from sentence_transformers import SentenceTransformer

device = "cuda" if torch.cuda.is_available() else "cpu"

model_id = "all-MiniLM-L6-v2"  # âœ… open and widely used
model = SentenceTransformer(model_id).to(device=device)

In [5]:
import json

# Read existing data
with open('dev_spider_used_2.json', 'r+') as f:
    using_data = json.load(f)           # read JSON
    for i in using_data:
        i["top_5"] = [] # modify it

    # f.seek(0)                     # move to file start
    # json.dump(data, f, indent=2)  # write updated JSON
    # f.truncate()                  # remove leftover old content

with open('dev_spider_knowledge_2.json', 'r+') as f:
    knowledge_data = json.load(f)
    filtered_knowledge_data = [
    {"query": item["query"], "question": item["question"], "score": 0}
    for item in knowledge_data]

In [6]:
using_data[:5]

[{'db_id': 'flight_2',
  'query': 'SELECT AirportName FROM AIRPORTS WHERE AirportCode  =  "AKO"',
  'query_toks': ['SELECT',
   'AirportName',
   'FROM',
   'AIRPORTS',
   'WHERE',
   'AirportCode',
   '=',
   '``',
   'AKO',
   "''"],
  'query_toks_no_value': ['select',
   'airportname',
   'from',
   'airports',
   'where',
   'airportcode',
   '=',
   'value'],
  'question': "Return the name of the airport with code 'AKO'.",
  'question_toks': ['Return',
   'the',
   'name',
   'of',
   'the',
   'airport',
   'with',
   'code',
   "'AKO",
   "'",
   '.'],
  'sql': {'from': {'table_units': [['table_unit', 1]], 'conds': []},
   'select': [False, [[0, [0, [0, 7, False], None]]]],
   'where': [[False, 2, [0, [0, 6, False], None], '"AKO"', None]],
   'groupBy': [],
   'having': [],
   'orderBy': [],
   'limit': None,
   'intersect': None,
   'union': None,
   'except': None},
  'top_5': []},
 {'db_id': 'flight_2',
  'query': 'SELECT AirportName FROM AIRPORTS WHERE City = "Aberdeen"',
  'query_toks': ['SELECT',
   'AirportName',
   'FROM',
   'AIRPORTS',
   'WHERE',
   'City',
   '=',
   '``',
   'Aberdeen',
   "''"],
  'query_toks_no_value': ['select',
   'airportname',
   'from',
   'airports',
   'where',
   'city',
   '=',
   'value'],
  'question': "What are airport names at City 'Aberdeen'?",
  'question_toks': ['What',
   'are',
   'airport',
   'names',
   'at',
   'City',
   "'Aberdeen",
   "'",
   '?'],
  'sql': {'from': {'table_units': [['table_unit', 1]], 'conds': []},
   'select': [False, [[0, [0, [0, 7, False], None]]]],
   'where': [[False, 2, [0, [0, 5, False], None], '"Aberdeen"', None]],
   'groupBy': [],
   'having': [],
   'orderBy': [],
   'limit': None,
   'intersect': None,
   'union': None,
   'except': None},
  'top_5': []},
 {'db_id': 'flight_2',
  'query': 'SELECT AirportName FROM AIRPORTS WHERE City = "Aberdeen"',
  'query_toks': ['SELECT',
   'AirportName',
   'FROM',
   'AIRPORTS',
   'WHERE',
   'City',
   '=',
   '``',
   'Aberdeen',
   "''"],
  'query_toks_no_value': ['select',
   'airportname',
   'from',
   'airports',
   'where',
   'city',
   '=',
   'value'],
  'question': 'What are the names of airports in Aberdeen?',
  'question_toks': ['What',
   'are',
   'the',
   'names',
   'of',
   'airports',
   'in',
   'Aberdeen',
   '?'],
  'sql': {'from': {'table_units': [['table_unit', 1]], 'conds': []},
   'select': [False, [[0, [0, [0, 7, False], None]]]],
   'where': [[False, 2, [0, [0, 5, False], None], '"Aberdeen"', None]],
   'groupBy': [],
   'having': [],
   'orderBy': [],
   'limit': None,
   'intersect': None,
   'union': None,
   'except': None},
  'top_5': []},
 {'db_id': 'flight_2',
  'query': 'SELECT count(*) FROM FLIGHTS WHERE SourceAirport  =  "APG"',
  'query_toks': ['SELECT',
   'count',
   '(',
   '*',
   ')',
   'FROM',
   'FLIGHTS',
   'WHERE',
   'SourceAirport',
   '=',
   '``',
   'APG',
   "''"],
  'query_toks_no_value': ['select',
   'count',
   '(',
   '*',
   ')',
   'from',
   'flights',
   'where',
   'sourceairport',
   '=',
   'value'],
  'question': "How many flights depart from 'APG'?",
  'question_toks': ['How',
   'many',
   'flights',
   'depart',
   'from',
   "'APG",
   "'",
   '?'],
  'sql': {'from': {'table_units': [['table_unit', 2]], 'conds': []},
   'select': [False, [[3, [0, [0, 0, False], None]]]],
   'where': [[False, 2, [0, [0, 12, False], None], '"APG"', None]],
   'groupBy': [],
   'having': [],
   'orderBy': [],
   'limit': None,
   'intersect': None,
   'union': None,
   'except': None},
  'top_5': []},
 {'db_id': 'flight_2',
  'query': 'SELECT count(*) FROM FLIGHTS WHERE SourceAirport  =  "APG"',
  'query_toks': ['SELECT',
   'count',
   '(',
   '*',
   ')',
   'FROM',
   'FLIGHTS',
   'WHERE',
   'SourceAirport',
   '=',
   '``',
   'APG',
   "''"],
  'query_toks_no_value': ['select',
   'count',
   '(',
   '*',
   ')',
   'from',
   'flights',
   'where',
   'sourceairport',
   '=',
   'value'],
  'question': "Count the number of flights departing from 'APG'.",
  'question_toks': ['Count',
   'the',
   'number',
   'of',
   'flights',
   'departing',
   'from',
   "'APG",
   "'",
   '.'],
  'sql': {'from': {'table_units': [['table_unit', 2]], 'conds': []},
   'select': [False, [[3, [0, [0, 0, False], None]]]],
   'where': [[False, 2, [0, [0, 12, False], None], '"APG"', None]],
   'groupBy': [],
   'having': [],
   'orderBy': [],
   'limit': None,
   'intersect': None,
   'union': None,
   'except': None},
  'top_5': []}]

In [7]:
i = 1
for use in using_data:
    print(i, use["question"])
    i += 1
    for k in filtered_knowledge_data:
        sentence = [k["question"], use["question"]]
        # print(sentence)
        embeddings = model.encode(sentence)
        similarities = model.similarity(embeddings[0], embeddings[1])
        k["score"] = similarities.numpy()[0][0]
        # break
    filtered_knowledge_data.sort(key=lambda x: x["score"], reverse=True)
    use["top_5"] = [
    {"query": item["query"], "question": item["question"]}
    for item in filtered_knowledge_data[:5]]

1 Return the name of the airport with code 'AKO'.
2 What are airport names at City 'Aberdeen'?
3 What are the names of airports in Aberdeen?
4 How many flights depart from 'APG'?
5 Count the number of flights departing from 'APG'.
6 How many flights have destination ATO?
7 Count the number of flights into ATO.
8 How many flights depart from City Aberdeen?
9 Return the number of flights departing from Aberdeen.
10 How many flights arriving in Aberdeen city?
11 Return the number of flights arriving in Aberdeen.
12 How many flights depart from City 'Aberdeen' and have destination City 'Ashley'?
13 How many flights fly from Aberdeen to Ashley?
14 How many flights does airline 'JetBlue Airways' have?
15 Give the number of Jetblue Airways flights.
16 How many 'United Airlines' flights go to Airport 'ASY'?
17 Count the number of United Airlines flights arriving in ASY Airport.
18 How many 'United Airlines' flights depart from Airport 'AHD'?
19 Return the number of United Airlines flights leaving from AHD Airport.
20 How many United Airlines flights go to City 'Aberdeen'?
21 Count the number of United Airlines flights that arrive in Aberdeen.
22 Which city has most number of arriving flights?
23 Which city has the most frequent destination airport?
24 Which city has most number of departing flights?
25 Which city is the most frequent source airport?
26 What is the code of airport that has the highest number of flights?
27 What is the airport code of the airport with the most flights?
28 What is the code of airport that has fewest number of flights?
29 Give the code of the airport with the least flights.
30 Which airline has most number of flights?
31 What airline serves the most flights?
32 Find the abbreviation and country of the airline that has fewest number of flights?
33 What is the abbreviation of the airilne has the fewest flights and what country is it in?
34 What are airlines that have some flight departing from airport 'AHD'?
35 Which airlines have a flight with source airport AHD?
36 What are airlines that have flights arriving at airport 'AHD'?
37 Which airlines have a flight with destination airport AHD?
38 Find all airlines that have flights from both airports 'APG' and 'CVO'.
39 Which airlines have departing flights from both APG and CVO airports?
40 Find all airlines that have flights from airport 'CVO' but not from 'APG'.
41 Which airlines have departures from CVO but not from APG airports?
42 Find all airlines that have at least 10 flights.
43 Which airlines have at least 10 flights?
44 Find all airlines that have fewer than 200 flights.
45 Which airlines have less than 200 flights?
46 What are flight numbers of Airline "United Airlines"?
47 Which flight numbers correspond to United Airlines flights?
48 What are flight numbers of flights departing from Airport "APG"?
49 Give the flight numbers of flights leaving from APG.
50 What are flight numbers of flights arriving at Airport "APG"?
51 Give the flight numbers of flights landing at APG.
52 What are flight numbers of flights departing from City "Aberdeen "?
53 Give the flight numbers of flights leaving from Aberdeen.
54 What are flight numbers of flights arriving at City "Aberdeen"?
55 Give the flight numbers of flights arriving in Aberdeen.
56 Find the number of flights landing in the city of Aberdeen or Abilene.
57 How many flights land in Aberdeen or Abilene?
58 Find the name of airports which do not have any flight in and out.
59 Which airports do not have departing or arriving flights?
60 How many employees are there?
61 Count the number of employees
62 Sort employee names by their age in ascending order.
63 List the names of employees and sort in ascending order of age.
64 What is the number of employees from each city?
65 Count the number of employees for each city.
66 Which cities do more than one employee under age 30 come from?
67 Find the cities that have more than one employee under age 30.
68 Find the number of shops in each location.
69 How many shops are there in each location?
70 Find the manager name and district of the shop whose number of products is the largest.
71 What are the manager name and district of the shop that sells the largest number of products?
72 find the minimum and maximum number of products of all stores.
73 What are the minimum and maximum number of products across all the shops?
74 Return the name, location and district of all shops in descending order of number of products.
75 Sort all the shops by number products in descending order, and return the name, location and district of each shop.
76 Find the names of stores whose number products is more than the average number of products.
77 Which shops' number products is above the average? Give me the shop names.
78 find the name of employee who was awarded the most times in the evaluation.
79 Which employee received the most awards in evaluations? Give me the employee name.
80 Find the name of the employee who got the highest one time bonus.
81 Which employee received the biggest bonus? Give me the employee name.
82 Find the names of employees who never won any award in the evaluation.
83 What are the names of the employees who never received any evaluation?
84 What is the name of the shop that is hiring the largest number of employees?
85 Which shop has the most employees? Give me the shop name.
86 Find the name of the shops that do not hire any employee.
87 Which shops run with no employees? Find the shop names
88 Find the number of employees hired in each shop; show the shop name as well.
89 For each shop, return the number of employees working there and the name of the shop.
90 What is total bonus given in all evaluations?
91 Find the total amount of bonus given in all the evaluations.
92 Give me all the information about hiring.
93 What is all the information about hiring?
94 Which district has both stores with less than 3000 products and stores with more than 10000 products?
95 Find the districts in which there are both shops selling less than 3000 products and shops selling more than 10000 products.
96 How many different store locations are there?
97 Count the number of distinct store locations.
98 How many documents do we have?
99 Count the number of documents.
100 List document IDs, document names, and document descriptions for all documents.
101 What are the ids, names, and descriptions for all documents?
102 What is the document name and template id for document with description with the letter 'w' in it?
103 Return the names and template ids for documents that contain the letter w in their description.
104 What is the document id, template id and description for document named "Robbin CV"?
105 Return the document id, template id, and description for the document with the name Robbin CV.
106 How many different templates do all document use?
107 Count the number of different templates used for documents.
108 How many documents are using the template with type code 'PPT'?
109 Count the number of documents that use the PPT template type.
110 Show all template ids and number of documents using each template.
111 What are all different template ids used for documents, and how many times were each of them used?
112 What is the id and type code for the template used by the most documents?
113 Return the id and type code of the template that is used for the greatest number of documents.
114 Show ids for all templates that are used by more than one document.
115 What are the template ids of any templates used in more than a single document?
116 Show ids for all templates not used by any document.
117 What are the ids for templates that are not used in any documents?
118 How many templates do we have?
119 Count the number of templates.
120 Show template ids, version numbers, and template type codes for all templates.
121 What are the ids, version numbers, and type codes for each template?
122 Show all distinct template type codes for all templates.
123 What are the different template type codes?
124 What are the ids of templates with template type code PP or PPT?
125 Return the ids of templates that have the code PP or PPT.
126 How many templates have template type code CV?
127 Count the number of templates of the type CV.
128 What is the version number and template type code for the template with version number later than 5?
129 Return the version numbers and template type codes of templates with a version number greater than 5.
130 Show all template type codes and number of templates for each.
131 What are the different template type codes, and how many templates correspond to each?
132 Which template type code has most number of templates?
133 Return the type code of the template type that the most templates belong to.
134 Show all template type codes with less than three templates.
135 What are the codes of template types that have fewer than 3 templates?
136 What the smallest version number and its template type code?
137 Return the lowest version number, along with its corresponding template type code.
138 What is the template type code of the template used by document with the name "Data base"?
139 Return the template type code of the template that is used by a document named Data base.
140 Show all document names using templates with template type code BK.
141 What are the names of documents that use templates with the code BK?
142 Show all template type codes and the number of documents using each type.
143 What are the different template type codes, and how many documents use each type?
144 Which template type code is used by most number of documents?
145 Return the code of the template type that is most commonly used in documents.
146 Show all template type codes that are not used by any document.
147 What are the codes of template types that are not used for any document?
148 Show all template type codes and descriptions.
149 What are the type codes and descriptions for all template types?
150 What is the template type descriptions for template type code "AD".
151 Return the template type description of the template type with the code AD.
152 What is the template type code for template type description "Book".
153 Return the type code of the template type with the description "Book".
154 What are the distinct template type descriptions for the templates ever used by any document?
155 Return the different descriptions for templates that have been used in a document.
156 What are the template ids with template type description "Presentation".
157 Return the ids corresponding to templates with the description 'Presentation'.
158 How many paragraphs in total?
159 Count the number of paragraphs.
160 How many paragraphs for the document with name 'Summer Show'?
161 Count the number of paragraphs in the document named 'Summer Show'.
162 Show paragraph details for paragraph with text 'Korea ' .
163 What are the details for the paragraph that includes the text 'Korea ' ?
164 Show all paragraph ids and texts for the document with name 'Welcome to NY'.
165 What are the ids and texts of paragraphs in the document titled 'Welcome to NY'?
166 Show all paragraph texts for the document "Customer reviews".
167 What are the paragraph texts for the document with the name 'Customer reviews'?
168 Show all document ids and the number of paragraphs in each document. Order by document id.
169 Return the different document ids along with the number of paragraphs corresponding to each, ordered by id.
170 Show all document ids, names and the number of paragraphs in each document.
171 What are the ids and names of each document, as well as the number of paragraphs in each?
172 List all document ids with at least two paragraphs.
173 What are the ids of documents that have 2 or more paragraphs?
174 What is the document id and name with greatest number of paragraphs?
175 Return the id and name of the document with the most paragraphs.
176 What is the document id with least number of paragraphs?
177 Return the id of the document with the fewest paragraphs.
178 What is the document id with 1 to 2 paragraphs?
179 Give the ids of documents that have between one and two paragraphs.
180 Show the document id with paragraph text 'Brazil' and 'Ireland'.
181 What are the ids of documents that contain the paragraph text 'Brazil' and 'Ireland'?
182 How many teachers are there?
183 What is the total count of teachers?
184 List the names of teachers in ascending order of age.
185 What are the names of the teachers ordered by ascending age?
186 What are the age and hometown of teachers?
187 What is the age and hometown of every teacher?
188 List the name of teachers whose hometown is not `` Little Lever Urban District '' .
189 What are the names of the teachers whose hometown is not `` Little Lever Urban District '' ?
190 Show the name of teachers aged either 32 or 33?
191 What are the names of the teachers who are aged either 32 or 33?
192 What is the hometown of the youngest teacher?
193 Where is the youngest teacher from?
194 Show different hometown of teachers and the number of teachers from each hometown.
195 For each hometown, how many teachers are there?
196 List the most common hometown of teachers.
197 What is the most commmon hometowns for teachers?
198 Show the hometowns shared by at least two teachers.
199 What are the towns from which at least two teachers come from?
200 Show names of teachers and the courses they are arranged to teach.

In [26]:
using_data

[{'db_id': 'concert_singer',
  'query': 'SELECT count(*) FROM singer',
  'query_toks': ['SELECT', 'count', '(', '*', ')', 'FROM', 'singer'],
  'query_toks_no_value': ['select', 'count', '(', '*', ')', 'from', 'singer'],
  'question': 'How many singers do we have?',
  'question_toks': ['How', 'many', 'singers', 'do', 'we', 'have', '?'],
  'sql': {'from': {'table_units': [['table_unit', 1]], 'conds': []},
   'select': [False, [[3, [0, [0, 0, False], None]]]],
   'where': [],
   'groupBy': [],
   'having': [],
   'orderBy': [],
   'limit': None,
   'intersect': None,
   'union': None,
   'except': None},
  'top_5': [{'query': 'SELECT count(*) FROM singer',
    'question': 'What is the count of singers?'},
   {'query': 'SELECT T1.Name FROM singer AS T1 JOIN song AS T2 ON T1.Singer_ID  =  T2.Singer_ID GROUP BY T1.Name HAVING COUNT(*)  >  1',
    'question': 'What are the names of the singers that have more than one songs?'},
   {'query': 'SELECT Citizenship ,  COUNT(*) FROM singer GROUP BY Citizenship',
    'question': 'For each citizenship, how many singers are from that country?'},
   {'query': 'SELECT DISTINCT T1.Name FROM singer AS T1 JOIN song AS T2 ON T1.Singer_ID  =  T2.Singer_ID WHERE T2.Sales  >  300000',
    'question': 'what are the different names of the singers that have sales more than 300000?'},
   {'query': 'SELECT T1.Name ,  sum(T2.Sales) FROM singer AS T1 JOIN song AS T2 ON T1.Singer_ID  =  T2.Singer_ID GROUP BY T1.Name',
    'question': 'For each singer name, what is the total sales for their songs?'}]},
 {'db_id': 'concert_singer',
  'query': 'SELECT count(*) FROM singer',
  'query_toks': ['SELECT', 'count', '(', '*', ')', 'FROM', 'singer'],
  'query_toks_no_value': ['select', 'count', '(', '*', ')', 'from', 'singer'],
  'question': 'What is the total number of singers?',
  'question_toks': ['What',
   'is',
   'the',
   'total',
   'number',
   'of',
   'singers',
   '?'],
  'sql': {'from': {'table_units': [['table_unit', 1]], 'conds': []},
   'select': [False, [[3, [0, [0, 0, False], None]]]],
   'where': [],
   'groupBy': [],
   'having': [],
   'orderBy': [],
   'limit': None,
   'intersect': None,
   'union': None,
   'except': None},
  'top_5': [{'query': 'SELECT count(*) FROM singer',
    'question': 'What is the count of singers?'},
   {'query': 'SELECT Citizenship ,  COUNT(*) FROM singer GROUP BY Citizenship',
    'question': 'For each citizenship, how many singers are from that country?'},
   {'query': 'SELECT T1.Name FROM singer AS T1 JOIN song AS T2 ON T1.Singer_ID  =  T2.Singer_ID GROUP BY T1.Name HAVING COUNT(*)  >  1',
    'question': 'What are the names of the singers that have more than one songs?'},
   {'query': 'SELECT T1.Name ,  sum(T2.Sales) FROM singer AS T1 JOIN song AS T2 ON T1.Singer_ID  =  T2.Singer_ID GROUP BY T1.Name',
    'question': 'For each singer name, what is the total sales for their songs?'},
   {'query': 'SELECT DISTINCT T1.Name FROM singer AS T1 JOIN song AS T2 ON T1.Singer_ID  =  T2.Singer_ID WHERE T2.Sales  >  300000',
    'question': 'what are the different names of the singers that have sales more than 300000?'}]},
 {'db_id': 'concert_singer',
  'query': 'SELECT name ,  country ,  age FROM singer ORDER BY age DESC',
  'query_toks': ['SELECT',
   'name',
   ',',
   'country',
   ',',
   'age',
   'FROM',
   'singer',
   'ORDER',
   'BY',
   'age',
   'DESC'],
  'query_toks_no_value': ['select',
   'name',
   ',',
   'country',
   ',',
   'age',
   'from',
   'singer',
   'order',
   'by',
   'age',
   'desc'],
  'question': 'Show name, country, age for all singers ordered by age from the oldest to the youngest.',
  'question_toks': ['Show',
   'name',
   ',',
   'country',
   ',',
   'age',
   'for',
   'all',
   'singers',
   'ordered',
   'by',
   'age',
   'from',
   'the',
   'oldest',
   'to',
   'the',
   'youngest',
   '.'],
  'sql': {'from': {'table_units': [['table_unit', 1]], 'conds': []},
   'select': [False,
    [[0, [0, [0, 9, False], None]],
     [0, [0, [0, 10, False], None]],
     [0, [0, [0, 13, False], None]]]],
   'where': [],
   'groupBy': [],
   'having': [],
   'orderBy': ['desc', [[0, [0, 13, False], None]]],
   'limit': None,
   'intersect': None,
   'union': None,
   'except': None},
  'top_5': [{'query': 'SELECT Birth_Year ,  Citizenship FROM singer',
    'question': 'What are the birth years and citizenships of the singers?'},
   {'query': 'SELECT Name FROM singer WHERE Birth_Year  =  1948 OR Birth_Year  =  1949',
    'question': 'What are the names of the singers whose birth years are either 1948 or 1949?'},
   {'query': 'SELECT Name FROM singer ORDER BY Net_Worth_Millions ASC',
    'question': 'What are the names of singers ordered by ascending net worth?'},
   {'query': 'SELECT Citizenship ,  COUNT(*) FROM singer GROUP BY Citizenship',
    'question': 'For each citizenship, how many singers are from that country?'},
   {'query': 'SELECT Citizenship FROM singer WHERE Birth_Year  <  1945 INTERSECT SELECT Citizenship FROM singer WHERE Birth_Year  >  1955',
    'question': 'What are the citizenships that are shared by singers with a birth year before 1945 and after 1955?'}]},
 {'db_id': 'concert_singer',
  'query': 'SELECT name ,  country ,  age FROM singer ORDER BY age DESC',
  'query_toks': ['SELECT',
   'name',
   ',',
   'country',
   ',',
   'age',
   'FROM',
   'singer',
   'ORDER',
   'BY',
   'age',
   'DESC'],
  'query_toks_no_value': ['select',
   'name',
   ',',
   'country',
   ',',
   'age',
   'from',
   'singer',
   'order',
   'by',
   'age',
   'desc'],
  'question': 'What are the names, countries, and ages for every singer in descending order of age?',
  'question_toks': ['What',
   'are',
   'the',
   'names',
   ',',
   'countries',
   ',',
   'and',
   'ages',
   'for',
   'every',
   'singer',
   'in',
   'descending',
   'order',
   'of',
   'age',
   '?'],
  'sql': {'from': {'table_units': [['table_unit', 1]], 'conds': []},
   'select': [False,
    [[0, [0, [0, 9, False], None]],
     [0, [0, [0, 10, False], None]],
     [0, [0, [0, 13, False], None]]]],
   'where': [],
   'groupBy': [],
   'having': [],
   'orderBy': ['desc', [[0, [0, 13, False], None]]],
   'limit': None,
   'intersect': None,
   'union': None,
   'except': None},
  'top_5': [{'query': 'SELECT Birth_Year ,  Citizenship FROM singer',
    'question': 'What are the birth years and citizenships of the singers?'},
   {'query': 'SELECT Name FROM singer WHERE Birth_Year  =  1948 OR Birth_Year  =  1949',
    'question': 'What are the names of the singers whose birth years are either 1948 or 1949?'},
   {'query': 'SELECT count(*) FROM singer',
    'question': 'What is the count of singers?'},
   {'query': 'SELECT Citizenship FROM singer WHERE Birth_Year  <  1945 INTERSECT SELECT Citizenship FROM singer WHERE Birth_Year  >  1955',
    'question': 'What are the citizenships that are shared by singers with a birth year before 1945 and after 1955?'},
   {'query': 'SELECT Citizenship ,  COUNT(*) FROM singer GROUP BY Citizenship',
    'question': 'For each citizenship, how many singers are from that country?'}]},
 {'db_id': 'concert_singer',
  'query': "SELECT avg(age) ,  min(age) ,  max(age) FROM singer WHERE country  =  'France'",
  'query_toks': ['SELECT',
   'avg',
   '(',
   'age',
   ')',
   ',',
   'min',
   '(',
   'age',
   ')',
   ',',
   'max',
   '(',
   'age',
   ')',
   'FROM',
   'singer',
   'WHERE',
   'country',
   '=',
   "'France",
   "'"],
  'query_toks_no_value': ['select',
   'avg',
   '(',
   'age',
   ')',
   ',',
   'min',
   '(',
   'age',
   ')',
   ',',
   'max',
   '(',
   'age',
   ')',
   'from',
   'singer',
   'where',
   'country',
   '=',
   'value'],
  'question': 'What is the average, minimum, and maximum age of all singers from France?',
  'question_toks': ['What',
   'is',
   'the',
   'average',
   ',',
   'minimum',
   ',',
   'and',
   'maximum',
   'age',
   'of',
   'all',
   'singers',
   'from',
   'France',
   '?'],
  'sql': {'from': {'table_units': [['table_unit', 1]], 'conds': []},
   'select': [False,
    [[5, [0, [0, 13, False], None]],
     [2, [0, [0, 13, False], None]],
     [1, [0, [0, 13, False], None]]]],
   'where': [[False, 2, [0, [0, 10, False], None], '"France"', None]],
   'groupBy': [],
   'having': [],
   'orderBy': [],
   'limit': None,
   'intersect': None,
   'union': None,
   'except': None},
  'top_5': [{'query': 'SELECT Birth_Year ,  Citizenship FROM singer',
    'question': 'What are the birth years and citizenships of the singers?'},
   {'query': 'SELECT Name FROM singer WHERE Citizenship != "France"',
    'question': 'What are the names of the singers who are not French citizens?'},
   {'query': 'SELECT count(*) FROM singer',
    'question': 'What is the count of singers?'},
   {'query': 'SELECT Citizenship ,  COUNT(*) FROM singer GROUP BY Citizenship',
    'question': 'For each citizenship, how many singers are from that country?'},
   {'query': 'select citizenship from singer group by citizenship order by count(*) desc limit 1',
    'question': 'What is the most common singer citizenship ?'}]}]

In [10]:
len(filtered_knowledge_data)

834

In [8]:
import json

with open('dev_spider_filtered_2.json', 'w') as f:
    json.dump(using_data, f, indent=2)