In [1]:
import os

os.listdir()

['.ipynb_checkpoints',
 'bird_dev.json',
 'bird_dev_all.json',
 'bird_dev_kn.json',
 'bird_dev_kn_2.json',
 'bird_dev_kn_3.json',
 'dev_bird_2.json',
 'dev_bird_3.json',
 'dev_bird_filtered.json',
 'dev_bird_filtered_2.json',
 'dev_bird_filtered_3.json',
 'dev_spider_filtered.json',
 'dev_spider_filtered_2.json',
 'dev_spider_knowledge.json',
 'dev_spider_knowledge_2.json',
 'dev_spider_used.json',
 'dev_spider_used_2.json',
 'GENAI[1].zip',
 'main_model',
 'selecting Random 200.ipynb',
 'spider_text_sql.csv',
 'SQLNet',
 'sqlnet_inference_py36',
 'stanford-postagger-full-2020-11-17',
 'sts_bird.ipynb',
 'sts_spider.ipynb',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb']

In [3]:
import json

with open("bird_dev_all.json", "r", encoding="utf-8") as f:
    data = json.load(f)

In [6]:
len(data), data

(1534,
 [{'question_id': 0,
   'db_id': 'california_schools',
   'question': 'What is the highest eligible free rate for K-12 students in the schools in Alameda County?',
   'evidence': 'Eligible free rate for K-12 = `Free Meal Count (K-12)` / `Enrollment (K-12)`',
   'SQL': "SELECT `Free Meal Count (K-12)` / `Enrollment (K-12)` FROM frpm WHERE `County Name` = 'Alameda' ORDER BY (CAST(`Free Meal Count (K-12)` AS REAL) / `Enrollment (K-12)`) DESC LIMIT 1",
   'difficulty': 'simple'},
  {'question_id': 1,
   'db_id': 'california_schools',
   'question': 'Please list the lowest three eligible free rates for students aged 5-17 in continuation schools.',
   'evidence': 'Eligible free rates for students aged 5-17 = `Free Meal Count (Ages 5-17)` / `Enrollment (Ages 5-17)`',
   'SQL': "SELECT `Free Meal Count (Ages 5-17)` / `Enrollment (Ages 5-17)` FROM frpm WHERE `Educational Option Type` = 'Continuation School' AND `Free Meal Count (Ages 5-17)` / `Enrollment (Ages 5-17)` IS NOT NULL ORDER BY `Free Meal Count (Ages 5-17)` / `Enrollment (Ages 5-17)` ASC LIMIT 3",
   'difficulty': 'moderate'},
  {'question_id': 2,
   'db_id': 'california_schools',
   'question': 'Please list the zip code of all the charter schools in Fresno County Office of Education.',
   'evidence': 'Charter schools refers to `Charter School (Y/N)` = 1 in the table fprm',
   'SQL': "SELECT T2.Zip FROM frpm AS T1 INNER JOIN schools AS T2 ON T1.CDSCode = T2.CDSCode WHERE T1.`District Name` = 'Fresno County Office of Education' AND T1.`Charter School (Y/N)` = 1",
   'difficulty': 'simple'},
  {'question_id': 3,
   'db_id': 'california_schools',
   'question': 'What is the unabbreviated mailing address of the school with the highest FRPM count for K-12 students?',
   'evidence': '',
   'SQL': 'SELECT T2.MailStreet FROM frpm AS T1 INNER JOIN schools AS T2 ON T1.CDSCode = T2.CDSCode ORDER BY T1.`FRPM Count (K-12)` DESC LIMIT 1',
   'difficulty': 'simple'},
  {'question_id': 4,
   'db_id': 'california_schools',
   'question': 'Please list the phone numbers of the direct charter-funded schools that are opened after 2000/1/1.',
   'evidence': 'Charter schools refers to `Charter School (Y/N)` = 1 in the frpm',
   'SQL': "SELECT T2.Phone FROM frpm AS T1 INNER JOIN schools AS T2 ON T1.CDSCode = T2.CDSCode WHERE T1.`Charter Funding Type` = 'Directly funded' AND T1.`Charter School (Y/N)` = 1 AND T2.OpenDate > '2000-01-01'",
   'difficulty': 'moderate'},
  {'question_id': 5,
   'db_id': 'california_schools',
   'question': 'How many schools with an average score in Math under 400 in the SAT test are exclusively virtual?',
   'evidence': "Exclusively virtual refers to Virtual = 'F'",
   'SQL': "SELECT COUNT(DISTINCT T2.School) FROM satscores AS T1 INNER JOIN schools AS T2 ON T1.cds = T2.CDSCode WHERE T2.Virtual = 'F' AND T1.AvgScrMath < 400",
   'difficulty': 'simple'},
  {'question_id': 6,
   'db_id': 'california_schools',
   'question': 'Among the schools with the SAT test takers of over 500, please list the schools that are magnet schools or offer a magnet program.',
   'evidence': 'Magnet schools or offer a magnet program means that Magnet = 1',
   'SQL': 'SELECT T2.School FROM satscores AS T1 INNER JOIN schools AS T2 ON T1.cds = T2.CDSCode WHERE T2.Magnet = 1 AND T1.NumTstTakr > 500',
   'difficulty': 'simple'},
  {'question_id': 7,
   'db_id': 'california_schools',
   'question': 'What is the phone number of the school that has the highest number of test takers with an SAT score of over 1500?',
   'evidence': '',
   'SQL': 'SELECT T2.Phone FROM satscores AS T1 INNER JOIN schools AS T2 ON T1.cds = T2.CDSCode ORDER BY T1.NumGE1500 DESC LIMIT 1',
   'difficulty': 'simple'},
  {'question_id': 8,
   'db_id': 'california_schools',
   'question': 'What is the number of SAT test takers of the schools with the highest FRPM count for K-12 students?',
   'evidence': '',
   'SQL': 'SELECT NumTstTakr FROM satscores WHERE cds = ( SELECT CDSCode FROM frpm ORDER BY `FRPM Count (K-12)` DESC LIMIT 1 )',
   'difficulty': 'simple'},
  {'question_id': 9,
   'db_id': 'california_schools',
   'question': 'Among the schools with the average score in Math over 560 in the SAT test, how many schools are directly charter-funded?',
   'evidence': '',
   'SQL': "SELECT COUNT(T2.`School Code`) FROM satscores AS T1 INNER JOIN frpm AS T2 ON T1.cds = T2.CDSCode WHERE T1.AvgScrMath > 560 AND T2.`Charter Funding Type` = 'Directly funded'",
   'difficulty': 'simple'},
  {'question_id': 10,
   'db_id': 'california_schools',
   'question': 'For the school with the highest average score in Reading in the SAT test, what is its FRPM count for students aged 5-17?',
   'evidence': '',
   'SQL': 'SELECT T2.`FRPM Count (Ages 5-17)` FROM satscores AS T1 INNER JOIN frpm AS T2 ON T1.cds = T2.CDSCode ORDER BY T1.AvgScrRead DESC LIMIT 1',
   'difficulty': 'simple'},
  {'question_id': 11,
   'db_id': 'california_schools',
   'question': 'Please list the codes of the schools with a total enrollment of over 500.',
   'evidence': 'Total enrollment can be represented by `Enrollment (K-12)` + `Enrollment (Ages 5-17)`',
   'SQL': 'SELECT T2.CDSCode FROM schools AS T1 INNER JOIN frpm AS T2 ON T1.CDSCode = T2.CDSCode WHERE T2.`Enrollment (K-12)` + T2.`Enrollment (Ages 5-17)` > 500',
   'difficulty': 'simple'},
  {'question_id': 12,
   'db_id': 'california_schools',
   'question': 'Among the schools with an SAT excellence rate of over 0.3, what is the highest eligible free rate for students aged 5-17?',
   'evidence': 'Excellence rate = NumGE1500 / NumTstTakr; Eligible free rates for students aged 5-17 = `Free Meal Count (Ages 5-17)` / `Enrollment (Ages 5-17)`',
   'SQL': 'SELECT MAX(CAST(T1.`Free Meal Count (Ages 5-17)` AS REAL) / T1.`Enrollment (Ages 5-17)`) FROM frpm AS T1 INNER JOIN satscores AS T2 ON T1.CDSCode = T2.cds WHERE CAST(T2.NumGE1500 AS REAL) / T2.NumTstTakr > 0.3',
   'difficulty': 'moderate'},
  {'question_id': 13,
   'db_id': 'california_schools',
   'question': 'Please list the phone numbers of the schools with the top 3 SAT excellence rate.',
   'evidence': 'Excellence rate = NumGE1500 / NumTstTakr',
   'SQL': 'SELECT T1.Phone FROM schools AS T1 INNER JOIN satscores AS T2 ON T1.CDSCode = T2.cds ORDER BY CAST(T2.NumGE1500 AS REAL) / T2.NumTstTakr DESC LIMIT 3',
   'difficulty': 'simple'},
  {'question_id': 14,
   'db_id': 'california_schools',
   'question': 'List the top five schools, by descending order, from the highest to the lowest, the most number of Enrollment (Ages 5-17). Please give their NCES school identification number.',
   'evidence': '',
   'SQL': 'SELECT T1.NCESSchool FROM schools AS T1 INNER JOIN frpm AS T2 ON T1.CDSCode = T2.CDSCode ORDER BY T2.`Enrollment (Ages 5-17)` DESC LIMIT 5',
   'difficulty': 'simple'},
  {'question_id': 15,
   'db_id': 'california_schools',
   'question': 'Which active district has the highest average score in Reading?',
   'evidence': '',
   'SQL': "SELECT T1.District FROM schools AS T1 INNER JOIN satscores AS T2 ON T1.CDSCode = T2.cds WHERE T1.StatusType = 'Active' ORDER BY T2.AvgScrRead DESC LIMIT 1",
   'difficulty': 'simple'},
  {'question_id': 16,
   'db_id': 'california_schools',
   'question': 'How many schools in merged Alameda have number of test takers less than 100?',
   'evidence': '',
   'SQL': "SELECT COUNT(T1.CDSCode) FROM schools AS T1 INNER JOIN satscores AS T2 ON T1.CDSCode = T2.cds WHERE T1.StatusType = 'Merged' AND T2.NumTstTakr < 100 AND T1.County = 'Alameda'",
   'difficulty': 'simple'},
  {'question_id': 17,
   'db_id': 'california_schools',
   'question': 'What is the charter number of the school that the average score in Writing is 499?',
   'evidence': '',
   'SQL': 'SELECT T1.CharterNum FROM schools AS T1 INNER JOIN satscores AS T2 ON T1.CDSCode = T2.cds WHERE T2.AvgScrWrite = 499',
   'difficulty': 'simple'},
  {'question_id': 18,
   'db_id': 'california_schools',
   'question': 'How many schools in Contra Costa (directly funded) have number of test takers not more than 250?',
   'evidence': '',
   'SQL': "SELECT COUNT(T1.CDSCode) FROM frpm AS T1 INNER JOIN satscores AS T2 ON T1.CDSCode = T2.cds WHERE T1.`Charter Funding Type` = 'Directly funded' AND T1.`County Name` = 'Contra Costa' AND T2.NumTstTakr <= 250",
   'difficulty': 'simple'},
  {'question_id': 19,
   'db_id': 'california_schools',
   'question': 'What is the phone number of the school that has the highest average score in Math?',
   'evidence': '',
   'SQL': 'SELECT T1.Phone FROM schools AS T1 INNER JOIN satscores AS T2 ON T1.CDSCode = T2.cds ORDER BY T2.AvgScrMath DESC LIMIT 1',
   'difficulty': 'simple'},
  {'question_id': 20,
   'db_id': 'california_schools',
   'question': 'How many schools in Amador which the Low Grade is 9 and the High Grade is 12?',
   'evidence': '',
   'SQL': "SELECT COUNT(T1.`School Name`) FROM frpm AS T1 INNER JOIN schools AS T2 ON T1.CDSCode = T2.CDSCode WHERE T2.County = 'Amador' AND T1.`Low Grade` = 9 AND T1.`High Grade` = 12",
   'difficulty': 'simple'},
  {'question_id': 21,
   'db_id': 'california_schools',
   'question': 'In Los Angeles how many schools have more than 500 free meals but less than 700 free or reduced price meals for K-12?',
   'evidence': '',
   'SQL': "SELECT COUNT(CDSCode) FROM frpm WHERE `County Name` = 'Los Angeles' AND `Free Meal Count (K-12)` > 500 AND `Free Meal Count (K-12)` < 700",
   'difficulty': 'simple'},
  {'question_id': 22,
   'db_id': 'california_schools',
   'question': 'Which school in Contra Costa has the highest number of test takers?',
   'evidence': '',
   'SQL': "SELECT sname FROM satscores WHERE cname = 'Contra Costa' AND sname IS NOT NULL ORDER BY NumTstTakr DESC LIMIT 1",
   'difficulty': 'simple'},
  {'question_id': 23,
   'db_id': 'california_schools',
   'question': 'List the names of schools with more than 30 difference in enrollements between K-12 and ages 5-17? Please also give the full street adress of the schools.',
   'evidence': 'Diffrence in enrollement = `Enrollment (K-12)` - `Enrollment (Ages 5-17)`',
   'SQL': 'SELECT T1.School, T1.StreetAbr FROM schools AS T1 INNER JOIN frpm AS T2 ON T1.CDSCode = T2.CDSCode WHERE T2.`Enrollment (K-12)` - T2.`Enrollment (Ages 5-17)` > 30',
   'difficulty': 'moderate'},
  {'question_id': 24,
   'db_id': 'california_schools',
   'question': 'Give the names of the schools with the percent eligible for free meals in K-12 is more than 0.1 and test takers whose test score is greater than or equal to 1500?',
   'evidence': '',
   'SQL': 'SELECT T2.`School Name` FROM satscores AS T1 INNER JOIN frpm AS T2 ON T1.cds = T2.CDSCode WHERE CAST(T2.`Free Meal Count (K-12)` AS REAL) / T2.`Enrollment (K-12)` > 0.1 AND T1.NumGE1500 > 0',
   'difficulty': 'moderate'},
  {'question_id': 25,
   'db_id': 'california_schools',
   'question': 'Name schools in Riverside which the average of average math score for SAT is grater than 400, what is the funding type of these schools?',
   'evidence': 'Average of average math = sum(average math scores) / count(schools).',
   'SQL': "SELECT T1.sname, T2.`Charter Funding Type` FROM satscores AS T1 INNER JOIN frpm AS T2 ON T1.cds = T2.CDSCode WHERE T2.`District Name` LIKE 'Riverside%' GROUP BY T1.sname, T2.`Charter Funding Type` HAVING CAST(SUM(T1.AvgScrMath) AS REAL) / COUNT(T1.cds) > 400",
   'difficulty': 'moderate'},
  {'question_id': 26,
   'db_id': 'california_schools',
   'question': 'State the names and full communication address of high schools in Monterey which has more than 800 free or reduced price meals for ages 15-17?',
   'evidence': 'Full communication address should include Zip, Street, City, State',
   'SQL': "SELECT T1.`School Name`, T2.Zip, T2.Street, T2.City, T2.State FROM frpm AS T1 INNER JOIN schools AS T2 ON T1.CDSCode = T2.CDSCode WHERE T2.County = 'Monterey' AND T1.`Free Meal Count (Ages 5-17)` > 800 AND T1.`School Type` = 'High Schools (Public)'",
   'difficulty': 'moderate'},
  {'question_id': 27,
   'db_id': 'california_schools',
   'question': 'What is the average score in writing for the schools that were opened after 1991 or closed before 2000? List the school names along with the score. Also, list the communication number of the schools if there is any.',
   'evidence': 'Communication number refers to phone number.',
   'SQL': "SELECT T2.School, T1.AvgScrWrite, T2.Phone, strftime('%Y', T2.OpenDate), strftime('%Y', T2.ClosedDate) FROM schools AS T2 LEFT JOIN satscores AS T1 ON T2.CDSCode = T1.cds WHERE strftime('%Y', T2.OpenDate) > '1991' AND strftime('%Y', T2.ClosedDate) < '2000'",
   'difficulty': 'moderate'},
  {'question_id': 28,
   'db_id': 'california_schools',
   'question': 'Consider the average difference between K-12 enrollment and 15-17 enrollment of schools that are locally funded, list the names and DOC type of schools which has a difference above this average.',
   'evidence': 'Difference between K-12 enrollment and 15-17 enrollment can be computed by `Enrollment (K-12)` - `Enrollment (Ages 5-17)`',
   'SQL': "SELECT T2.School, T2.DOC FROM frpm AS T1 INNER JOIN schools AS T2 ON T1.CDSCode = T2.CDSCode WHERE T2.FundingType = 'Locally funded' AND (T1.`Enrollment (K-12)` - T1.`Enrollment (Ages 5-17)`) > (SELECT AVG(T3.`Enrollment (K-12)` - T3.`Enrollment (Ages 5-17)`) FROM frpm AS T3 INNER JOIN schools AS T4 ON T3.CDSCode = T4.CDSCode WHERE T4.FundingType = 'Locally funded')",
   'difficulty': 'challenging'},
  {'question_id': 29,
   'db_id': 'california_schools',
   'question': 'When did the first-through-twelfth-grade school with the largest enrollment open?',
   'evidence': 'K-12 means First-through-twelfth-grade',
   'SQL': 'SELECT T2.OpenDate FROM frpm AS T1 INNER JOIN schools AS T2 ON T1.CDSCode = T2.CDSCode ORDER BY T1.`Enrollment (K-12)` DESC LIMIT 1',
   'difficulty': 'simple'},
  {'question_id': 30,
   'db_id': 'california_schools',
   'question': 'Which cities have the top 5 lowest enrollment number for students in grades 1 through 12?',
   'evidence': 'K-12 refers to students in grades 1 through 12.',
   'SQL': 'SELECT T2.City FROM frpm AS T1 INNER JOIN schools AS T2 ON T1.CDSCode = T2.CDSCode GROUP BY T2.City ORDER BY SUM(T1.`Enrollment (K-12)`) ASC LIMIT 5',
   'difficulty': 'simple'},
  {'question_id': 31,
   'db_id': 'california_schools',
   'question': 'What is the eligible free rate of the 10th and 11th schools with the highest enrolment for students in grades 1 through 12?',
   'evidence': 'K-12 refers to students in grades 1 through 12; Eligible free rate for K-12 = `Free Meal Count (K-12)` / `Enrollment (K-12)`',
   'SQL': 'SELECT CAST(`Free Meal Count (K-12)` AS REAL) / `Enrollment (K-12)` FROM frpm ORDER BY `Enrollment (K-12)` DESC LIMIT 9, 2',
   'difficulty': 'moderate'},
  {'question_id': 32,
   'db_id': 'california_schools',
   'question': 'What is the eligible free or reduced price meal rate for the top 5 schools in grades 1-12 with the highest free or reduced price meal count of the schools with the ownership code 66?',
   'evidence': 'grades 1-12 means K-12; Eligible free or reduced price meal rate for K-12 = `FRPM Count (K-12)` / `Enrollment (K-12)`',
   'SQL': 'SELECT CAST(T1.`FRPM Count (K-12)` AS REAL) / T1.`Enrollment (K-12)` FROM frpm AS T1 INNER JOIN schools AS T2 ON T1.CDSCode = T2.CDSCode WHERE T2.SOC = 66 ORDER BY T1.`FRPM Count (K-12)` DESC LIMIT 5',
   'difficulty': 'moderate'},
  {'question_id': 33,
   'db_id': 'california_schools',
   'question': 'If there are any, what are the websites address of the schools with a free meal count of 1,900-2,000 to students aged 5-17? Include the name of the school.',
   'evidence': '',
   'SQL': 'SELECT T2.Website, T1.`School Name` FROM frpm AS T1 INNER JOIN schools AS T2 ON T1.CDSCode = T2.CDSCode WHERE T1.`Free Meal Count (Ages 5-17)` BETWEEN 1900 AND 2000 AND T2.Website IS NOT NULL',
   'difficulty': 'moderate'},
  {'question_id': 34,
   'db_id': 'california_schools',
   'question': 'What is the free rate for students between the ages of 5 and 17 at the school run by Kacey Gibson?',
   'evidence': 'Eligible free rates for students aged 5-17 = `Free Meal Count (Ages 5-17)` / `Enrollment (Ages 5-17)`',
   'SQL': "SELECT CAST(T2.`Free Meal Count (Ages 5-17)` AS REAL) / T2.`Enrollment (Ages 5-17)` FROM schools AS T1 INNER JOIN frpm AS T2 ON T1.CDSCode = T2.CDSCode WHERE T1.AdmFName1 = 'Kacey' AND T1.AdmLName1 = 'Gibson'",
   'difficulty': 'moderate'},
  {'question_id': 35,
   'db_id': 'california_schools',
   'question': "What is the administrator's email address of the chartered school with the fewest students enrolled in grades 1 through 12?",
   'evidence': 'Charted school means `Charter School (Y/N)` = 1 in the table frpm; Students enrolled in grades 1 through 12 refers to `Enrollment (K-12)`',
   'SQL': 'SELECT T2.AdmEmail1 FROM frpm AS T1 INNER JOIN schools AS T2 ON T1.CDSCode = T2.CDSCode WHERE T1.`Charter School (Y/N)` = 1 ORDER BY T1.`Enrollment (K-12)` ASC LIMIT 1',
   'difficulty': 'moderate'},
  {'question_id': 36,
   'db_id': 'california_schools',
   'question': 'Under whose administration does the school with the highest number of test takers whose total SAT Scores are greater or equal to 1500 belong to? Indicate his or her full name.',
   'evidence': 'full name means first name, last name; There are at most 3 administrators for each school; SAT Scores are greater or equal to 1500 refers to NumGE1500',
   'SQL': 'SELECT T2.AdmFName1, T2.AdmLName1, T2.AdmFName2, T2.AdmLName2, T2.AdmFName3, T2.AdmLName3 FROM satscores AS T1 INNER JOIN schools AS T2 ON T1.cds = T2.CDSCode ORDER BY T1.NumGE1500 DESC LIMIT 1',
   'difficulty': 'challenging'},
  {'question_id': 37,
   'db_id': 'california_schools',
   'question': 'What is the complete address of the school with the lowest excellence rate? Indicate the Street, City, Zip and State.',
   'evidence': 'Execellence Rate = NumGE1500 / NumTstTakr; complete address has Street, City, State, Zip code',
   'SQL': 'SELECT T2.Street, T2.City, T2.Zip, T2.State FROM satscores AS T1 INNER JOIN schools AS T2 ON T1.cds = T2.CDSCode ORDER BY CAST(T1.NumGE1500 AS REAL) / T1.NumTstTakr ASC LIMIT 1',
   'difficulty': 'moderate'},
  {'question_id': 38,
   'db_id': 'california_schools',
   'question': 'What are the webpages for the Los Angeles County school that has between 2,000 and 3,000 test takers?',
   'evidence': '',
   'SQL': "SELECT T2.Website FROM satscores AS T1 INNER JOIN schools AS T2 ON T1.cds = T2.CDSCode WHERE T1.NumTstTakr BETWEEN 2000 AND 3000 AND T2.County = 'Los Angeles'",
   'difficulty': 'simple'},
  {'question_id': 39,
   'db_id': 'california_schools',
   'question': 'What is the average number of test takers from Fresno schools that opened between 1/1/1980 and 12/31/1980?',
   'evidence': 'between 1/1/1980 and 12/31/1980 means the year = 1980',
   'SQL': "SELECT AVG(T1.NumTstTakr) FROM satscores AS T1 INNER JOIN schools AS T2 ON T1.cds = T2.CDSCode WHERE strftime('%Y', T2.OpenDate) = '1980' AND T2.County = 'Fresno'",
   'difficulty': 'simple'},
  {'question_id': 40,
   'db_id': 'california_schools',
   'question': 'What is the telephone number for the school with the lowest average score in reading in Fresno Unified?',
   'evidence': 'Fresno Unified is a name of district;',
   'SQL': "SELECT T2.Phone FROM satscores AS T1 INNER JOIN schools AS T2 ON T1.cds = T2.CDSCode WHERE T2.District = 'Fresno Unified' AND T1.AvgScrRead IS NOT NULL ORDER BY T1.AvgScrRead ASC LIMIT 1",
   'difficulty': 'moderate'},
  {'question_id': 41,
   'db_id': 'california_schools',
   'question': 'Which exclusively virtual schools have the top 5 highest average reading scores?',
   'evidence': "Exclusively virtual refers to Virtual = 'F'.",
   'SQL': "SELECT T2.School FROM satscores AS T1 INNER JOIN schools AS T2 ON T1.cds = T2.CDSCode WHERE T2.Virtual = 'F' ORDER BY T1.AvgScrRead DESC LIMIT 5",
   'difficulty': 'simple'},
  {'question_id': 42,
   'db_id': 'california_schools',

In [8]:
a = set()
for i in data:
    a.add(i['db_id'])

In [11]:
import random
import json

with open("bird_dev_all.json", "r") as f:
    unique = json.load(f)

# pick 200 random (without repetition)
first_200 = random.sample(unique, 200)

# the rest are everything not in first_200
first_200_set = {json.dumps(x, sort_keys=True) for x in first_200}
rest = [x for x in unique if json.dumps(x, sort_keys=True) not in first_200_set]

print(len(first_200), len(rest))

with open("bird_200.json", "w") as f:
    json.dump(first_200, f, indent=2)

with open("bird_rest.json", "w") as f:
    json.dump(rest, f, indent=2)

200 1334